@use "/Modules/_colors";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@300;400&display=swap');



//Body
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--general-bg-color);
}

#header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-menu {
  background-color: var(--section-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 7%;
  z-index: 2;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

#logo {
  padding-left: 10%;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: var(--oxygen-blue);
}

#menu {
  padding-right: 5%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  color: var(--menu-gray);
  letter-spacing: 3.28px;
}

.menu-item:hover {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--oxygen-blue);
          text-decoration-color: var(--oxygen-blue);
  text-decoration-thickness: 3px;
  text-underline-offset: 230%;
  transition: -webkit-text-decoration 1s ease-in;
  transition: text-decoration 1s ease-in;
  transition: text-decoration 1s ease-in, -webkit-text-decoration 1s ease-in;
  transition: color 0.4s ease-in;
  cursor: pointer;
}

#sub-header {
  background-color: var(--section-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15%;
}

#sub-header h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 49px;
  color: black;
}

#sub-header h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: black;
}

#sub-header p {
  margin-top: 1%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

#sub-header button {
  margin-top: 1%;
  height: 4em;
  width: 28%;
  border-radius: 40px;
  border: 0;
  background: var(--oxygen-blue);
  color: var(--section-bg-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

#sub-header button:hover {
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.5);
}

#header-images {
  display: flex;
  justify-content: space-around;
}

#header-images img {
  padding: 20% 15%;
}

#middle-content {
  width: 90%;
}

#carta-container {
  margin-top: 15%;
  width: 80%;
  margin: 0 auto;
}

.carta {
  background-color: var(--section-bg-color);
  margin: 5% auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--card-border-color);
  height: 25em;
  width: 100%;
  min-width: 30vw;
  border-radius: 5px;
  flex-shrink: 1;
}

#carta-tercera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carta-text {
  width: 50%;
  padding: 0 5%;
  flex-shrink: 1;
}

.carta-text h2 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.carta-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#red-border {
  border: 2px solid var(--oxygen-red-color);
}

#blue-border {
  border: 2px solid var(--oxygen-blue);
}

#green-border {
  border: 2px solid var(--oxygen-green-color);
}

.carta-imgs {
  position: relative;
  display: flex;
  width: 60%;
  flex-shrink: 1;
}

#rombo-img {
  position: relative;
  right: 12%;
  bottom: 1em;
}

#mac-img {
  position: relative;
  margin: auto;
  top: 2em;
  left: 20%;
  z-index: 1;
}

#circ-img {
  position: relative;
  width: 50%;
  
  left: 3em;
}

#iphone-img {
  position: relative;
  margin: auto;
  width: 60%;
  top: 1em;
  right: 38%;
  z-index: 1;
}

.img-tercera {
  position: relative;
  height: 25em;
  left: 3%;
  top: 4.5em;
}
#rectangle-img {
  position: relative;
}

#trumpet-img {
  position: relative;
  margin: auto;
  width: 50%;
  right: 68%;
  z-index: 1;
}

#pricing-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--section-bg-color);
}

#pricing-container h2 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
}

#pricing-options {
  padding-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.option-header h3 {
  padding-top: 10%;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1%;
}

.option-header h2 {
  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 300;
  text-align: center;
}

.option-header p {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.option-services {
  padding-top: 5%;
}

.option-btn {
  max-width: 150px;
  max-height: 50px;
  width: 50%;
  height: 11%;
  border-radius: 23px;
  color: var(--section-bg-color);
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 13px;
  border-width: 0;
}

.basic-style button:hover {
  box-shadow: 5px 10px 27px var(--oxygen-red-color);
  transition: box-shadow 0.4s linear;
}
.pro-style button:hover {
  box-shadow: 5px 10px 27px var(--oxygen-blue);
  transition: box-shadow 0.4s linear;
}
.premium-style button:hover {
  box-shadow: 5px 10px 27px var(--oxygen-green-color);
  transition: box-shadow 0.4s linear;
}

.price-option {
  max-height: 461px;
  max-width: 372px;
  height: 29em;
  width: 30%;
  border-radius: 18px;
}

.basic-style {
  border: 1px solid var(--oxygen-red-color);
}

.basic-style h2 {
  color: var(--oxygen-red-color);
}

.basic-style button {
  position: relative;
  top: 18%;
  background-color: var(--oxygen-red-color);
}

.basic-style:hover {
  box-shadow: 5px 10px 27px var(--oxygen-red-color);
  transition: box-shadow 0.4s linear;
}

.pro-style {
  border: 1px solid var(--card-blue);
}

.pro-style h2 {
  color: var(--card-blue);
}

.pro-style button {
  position: relative;
  top: 13%;
  background-color: var(--card-blue);
}

.pro-style:hover {
  box-shadow: 5px 10px 27px var(--oxygen-blue);
  transition: box-shadow 0.4s linear;
}

.premium-style {
  border: 1px solid var(--oxygen-green-color);
}

.premium-style h2 {
  color: var(--oxygen-green-color);
}

.premium-style button {
  position: relative;
  top: 13%;
  background-color: var(--oxygen-green-color);
}

.premium-style:hover {
  box-shadow: 5px 10px 27px var(--oxygen-green-color);
  transition: box-shadow 0.4s linear;
}

#carousel {
  width: 100%;
  margin: 20% auto 0 auto;
}

#form-container {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--section-bg-color);
  flex-wrap: wrap;
  overflow: hidden;
}

#form-info {
  width: 50%;
  text-align: center;
  overflow: hidden;
}

#form-info h2 {
  font-family: "Raleway";
  font-size: 49px;
  font-weight: 400;
}

#form-info p {
  padding-top: 3%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

#info-icons {
  padding-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

#info-icons p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  color: var(--menu-gray);
  padding: 0 2%;
}

#form {
  width: 50%;
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 3.28px;
  color: var(--oxygen-blue);
  padding-bottom: 10%;
  overflow: hidden;
}

#check {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #707070;
  width: 70%;
  overflow: hidden;
}

#tick {
  padding-top: 1%;
  padding-right: 2%;
}

#form button {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 700;
  height: 4.5em;
  width: 36%;
  border-radius: 35px;
  background-color: var(--oxygen-blue);
  color: var(--section-bg-color);
  border: 0;
  margin-left: 35%;
}

#form button:hover {
  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.5);
}

#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  max-height: 89px;
  height: 5em;
  width: 100%;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
  background-color: var(--section-bg-color);
}

#footer-logo {
  margin-left: 10%;
}

#footer-logo h2 {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 300;
  color: var(--oxygen-blue);
}

#footer-logo p {
  font-family: "Open Sans";
  font-size: 11px;
  font-weight: 400;
  color: var(--menu-gray);
}

#social-media {
  margin-right: 10%;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 70%;
}

input[type=email] {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 70%;
}

input[type=checkbox] {
  height: 2em;
  width: 2em;

}
@media screen and (max-width: 1000px) { 

  #header-images {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .carta {
    height: 70vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 1;
  }
  .carta-imgs{
    flex-shrink: 10;
    width: auto;
  }
  .carta-text {
    width: auto;
  }

  #carta-tercera {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .img-tercera {
    margin-bottom: 10%;
    width: 70%;
    flex-shrink: 1;
  }

  #trumpet-img {
    position: relative;
  }

  #pricing-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price-option {
    margin-bottom: 5%;
    max-height: 461px;
    height: 29em;
    width: 70%;
    border-radius: 18px;
  }
  
  #form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  
  /* .tick p {
    overflow: scroll;
  } */

}