@use '../Modules/color';

@mixin vector($bottom) {
    position: relative;
    left: 4%;
    bottom: $bottom;
}

.vector1 {
    @include vector(38%);
}

.vector2 {
    @include vector(30%);
}

.vector3 {
    @include vector(34%);
}


.top {
    margin-top: 5%;
}


@mixin card-line($border) {
    width: 327.64px;
    border: $border;
    opacity: 1;
    
}

.card-line1 {
    @include card-line(1px solid #FB3B64);
}

.card-line2 {
    @include card-line(1px solid #08A6E4);
}

.card-line3 {
    @include card-line(1px solid #55DFB4);

}


@mixin card($bordercolor, $box-shadow) {
    display: flex;

    flex-direction: column;
    padding: 4% 6% 5px;
    border-radius: 18px;
    box-sizing: border-box;
    cursor: pointer;
    border: $bordercolor;
    border-radius: 18px;
    box-shadow: $box-shadow;
    margin-bottom: 10%;



    &:hover {
        transform: scale(1.08);
        transition: transform 0.5s ease-in-out;
    }
}


.card_price1 {
    @include card(1px solid var(--pink-color), 5px 10px 27px #fb3b64);

}

.card_price2 {
    @include card(1px solid var(--blue-color-btn), 5px 10px 27px #07ACE6);

}

.card_price3 {
    @include card(1px solid var(--blue-color-btn2), 5px 10px 27px #55DFB4);
}

@mixin button($background-color) {
    background-color: $background-color;
    border-radius: 23px;
    width: 165px;
    height: 50px;
    position: relative;
    top: 7%;
    padding: 5%;
    border: none;
    font-size: 1rem;
    max-width: 440px;
}

.button_beggin1 {
    @include button(#EB476E);

}

.button_beggin2 {
    @include button(#07ACE6);
}

.button_beggin3 {
    @include button(#55DFB4);
}