// $background-color:rgb(104, 29, 226);
$color-black: #000000;
$color-white: #FFFF;
$color-gray: #A5A5A5;
$color-btn-a: #08A6E4;
$color-btn-b: #EB476E;
$color-btn-c: #07ACE6;
$color-btn-d: #55DFB4;
$color-card-1:#FB3B64;

