@mixin vector($bottom) {
    position: relative;
    left: 4%;
    bottom: $bottom;
}

.vector1 {
    @include vector(38%);
}

.vector2 {
    @include vector(30%);
}

.vector3 {
    @include vector(34%);
}


.top {
    margin-top: 10%;
}


@mixin card-line($border) {
    width: 327.64px;
    border: $border;
    opacity: 1;
}

.card-line1 {
    @include card-line(1px solid #FB3B64);
}

.card-line2 {
    @include card-line(1px solid #08A6E4);
}

.card-line3 {
    @include card-line(1px solid #55DFB4);
}


@mixin card($bordercolor, $width, $height, $box-shadow) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 4% 6% 5px;
    // background-color: color.$color-white;
    border-radius: 18px;
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    margin: 15px 20px;
    border: $bordercolor;
    width: $width;
    height: $height;
    // transform: $transform;
    // transition: $transition;
    border-radius: 18px;
    box-shadow: $box-shadow;

}

// .card_price1 {
//     @include card(1px solid #FB3B64, 40%, 100%, 5px 10px 27px rgba(7, 172, 230, 0.29));

// }

// .card_price2 {
//     @include card(1px solid color.$color-btn-c, 50%, 100%, 5px 10px 27px rgba(7, 172, 230, 0.29));
//     box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
// }

// .card_price3 {
//     @include card(1px solid color.$color-btn-d, 40%, 100%, 5px 10px 27px rgba(7, 172, 230, 0.29));
// }