@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");
.vector1 {
  position: relative;
  left: 4%;
  bottom: 38%;
}

.vector2 {
  position: relative;
  left: 4%;
  bottom: 30%;
}

.vector3 {
  position: relative;
  left: 4%;
  bottom: 34%;
}

.top {
  margin-top: 10%;
}

.card-line1 {
  width: 327.64px;
  border: 1px solid #FB3B64;
  opacity: 1;
}

.card-line2 {
  width: 327.64px;
  border: 1px solid #08A6E4;
  opacity: 1;
}

.card-line3 {
  width: 327.64px;
  border: 1px solid #55DFB4;
  opacity: 1;
}

.containerNav {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.nav-link {
  font-family: "Open Sans";
  font-style: normal;
  color: #A5A5A5;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: top;
}

.shop h1 {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin-top: 50px;
}
.shop h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.shop h2 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
.shop h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.shop h5 {
  font-family: "Raleway";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.shop p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;
  text-align: center;
}
.shop .card-text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  height: 66px;
  width: 416px;
  left: 0px;
  top: 72px;
}
.shop p .card-text::before {
  border: 4px solid #FB3B64;
  width: 327.64px;
}
.shop .btn-a {
  display: block;
  width: 310px;
  height: 67px;
  text-align: center;
  margin: 0 auto;
  background-color: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
}
.shop button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.shop .option {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.popular_vector {
  margin-top: 50px;
}

.numbers {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
}

.phrase {
  font-family: "$font-family-b";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #A5A5A5;
  margin-top: 10px;
}

.rectangle {
  position: absolute;
  margin: auto;
  width: 16%;
  height: 60%;
  left: 68%;
}

.macbook {
  position: relative;
  z-index: 1;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 10%;
}

.ellipse4 {
  position: absolute;
  margin: auto;
  width: 320px;
  height: 320px;
  left: 10%;
}

.iphone {
  position: relative;
  z-index: 1;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  top: 10%;
  left: 10%;
}

.frame {
  width: 440px;
  height: 370px;
}

.card-1 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.text_card_text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.price_content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 70%;
}
.price_content .btn_begin {
  width: 165px;
  height: 50px;
  background: #07ACE6;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 23px;
}
.price_content .btn_begin:hover {
  color: pink;
  transform: scale(1.08);
  transition: transform 0.5s ease-in-out;
}

.carousel {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 3%;
  max-width: 56rem;
}
.contact .contact-container {
  min-width: 50%;
}
.contact .contact-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 58px;
  color: #000000;
}
.contact .contact-2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.contact .flex-container {
  display: flex;
}
.contact .p_email {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
}
.contact .contact-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08A6E4;
}
.contact .contact-email {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08A6E4;
}
.contact .data-protection {
  margin-top: -7%;
  margin-bottom: 7%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}
.contact .btn-submit {
  width: 226px;
  height: 57px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
}
.contact .btn-send {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: white;
}
.contact .check {
  border: 1px solid #95989A;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  margin-left: -6%;
  margin-top: 5%;
}
.contact #input-name {
  position: relative;
  width: 90%;
  left: 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #95989A;
}
.contact #input-email {
  position: relative;
  width: 90%;
  left: 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #95989A;
}

.p_reserved {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #A5A5A5;
}

.footer {
  display: flex;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=style.css.map */